{% extends 'nav.base.html.twig' %}

{% set projectslink = 'active' %}

{% block title %}Projects
{% endblock %}

{% block content %}

	<div class="mt-2 p-3 container-xl bg-white shadow-sm">
		<h1>Projects</h1>

		<ul class="my-3 nav nav-pills">
			<li class="nav-item">
				<a class="nav-link active bg-success" href="#">Active</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-dark" href="{{ path('project_archived') }}" >Archived</a>
			</li>
		</ul>
		{% include "projects/_projectTable.html.twig" %}

		<a class="btn btn-outline-success" href="{{ path('project_new') }}">Create new</a>
	</div>

{% endblock %}
