{% extends 'nav.base.html.twig' %}

{% set operationslink = 'active' %}

{% block title %}Operations
{% endblock %}

{% block content %}
<div class="mt-2 p-3 container-xl bg-white shadow-sm">
    <h1>Operations</h1>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_choice in category_choices %}
            <tr>
                <th>{{ category_choice.Category }}</th>
                <td>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('operations_edit', {'id': category_choice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('operations_new') }}">Create new</a>
    </div>
{% endblock %}
