{% extends 'nav.base.html.twig' %}

{% set operationslink = 'active' %}

{% block title %}New Category Choice
{% endblock %}

{% block content %}
	<div class="mt-3 p-3 container-xl bg-white shadow-sm">
		<h1>Create new Category Choice</h1>

		{{ include('operations/_form.html.twig') }}

		<a class="mt-1 btn btn-secondary" href="{{ path('operations_index') }}">back to list</a>
	</div>
{% endblock %}
