{% extends 'nav.base.html.twig' %}

{% set homelink = 'active' %}

{% block content %}

<h1>Hello, {{ app.user.name }}</h1>

<form>
    <label for="fname">Operand 1:</label><br>
    <input type="text" id="fname" class="op" name="fname" value=""><br>
    <label for="lname">Operand 2:</label><br>
    <input type="text" id="lname" class="op" name="lname" value=""><br><br>
    <label for="rname">Result</label><br>
    <input type="text" id="rname"name="rname" value=""><br><br>
</form> 

<a type="button" class="btn btn-primary" href="submission">Submission</a>

{% endblock %}