{{ include('submission/_readonly.html.twig') }}
<div class="row row-cols-auto justify-content-end me-1 mt-3">
	{{ include('submission/_edit.html.twig') }}
	{{ include('submission/_delete.modal.html.twig') }}
</div>