<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
	Delete
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Attention</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Do you really want to delete submission from
				{{ subMonth|date('F Y') }}?
			</div>
			<form action="{{ path('delete_submission') }}" method="PUT">
				<div>
					<input type="hidden" id="year" name="year" value="{{ year }}">
					<input type="hidden" id="month" name="month" value="{{ month }}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>

		</div>
	</div>
</div>
