{% extends 'nav.base.html.twig' %}

{% block title %}Edit Submission
{% endblock %}

{% block content %}

	<div class="my-3 p-3 container-xl bg-white shadow-sm">

		<h1>Edit</h1>

		{{ include('submission/_writeable.html.twig') }}

	</div>

{% endblock %}
