{% extends 'nav.base.html.twig' %}

{% block title %}New Submission
{% endblock %}

{% block content %}

	<div class="mt-3 p-3 container-xl bg-white shadow-sm">

		{{ include('submission/template.html.twig') }}
		
	</div>

{% endblock %}
