{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="container-xxl position-absolute top-50 start-50 translate-middle d-flex justify-content-center">
		<div class="p-3 border rounded-3 bg-white shadow-lg" style="max-width: 30rem;">
			<p>
				If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
				        This link will expire in
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>If you don't receive an email please check your spam folder or
				<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
                <a href="{{ path('login') }}" class="btn btn-primary">To Login</a>
		</div>
	</div>
{% endblock %}
