{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_5_layout.html.twig' %}
{% block title %}Reset your password
{% endblock %}

{% block body %}
	<div class="container-xxl position-absolute top-50 start-50 translate-middle d-flex justify-content-center">
		<div class="p-3 border rounded-3 bg-white shadow-lg" style="max-width: 30rem;">
			{% for flashError in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			<h1>Reset your password</h1>

			{{ form_start(requestForm) }}
			{{ form_row(requestForm.email) }}
			<div>
				<small>
					Enter your email address and we will send you a
					                link to reset your password.
				</small>
			</div>

			<button class="btn btn-primary">Send password reset email</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
