{% block javascripts %}
{{ encore_entry_script_tags('submissionModal') }}
{% endblock %}

<div class="modal fade" id="submissionModal" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
    <div id="ajax-result" class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    </div>
</div>