{% extends 'nav.base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block content %}
	<div class="mt-2 p-3 container-xl bg-white shadow-sm">
		<h1>User index</h1>
		<div class="overflow-auto">
			<table class="table">
				<thead>
					<tr>
						<th>Surname</th>
						<th>Name</th>
						<th>Email</th>
						<th>Manager</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.surname }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							{% if "ROLE_MANAGER" in user.roles|json_encode %}
								<td><input type="checkbox" checked disabled></td>
							{% else %}
								<td><input type="checkbox" disabled></td>
							{% endif %}
							<td>
								<a class="btn btn-sm btn-outline-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
